#portfolio {
  margin: 2px;
  width: 100%;
  height: 110vh;
  position: relative;
  padding-top: 20px;
  margin-top: 1px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.portfolio_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  animation-name: example;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.portfolio_item {
  background: var(--color-bg-primary);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio_item:hover {
  border-color: var(--color-primary-varient);
  background: transparent;
}

.portfolio_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.lapp {
  padding-top: 4rem;
}

.portfolio_item h3 {
  margin: 1.2 0 2rem;
}

.portfolio_item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

@keyframes example {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/** animation on scroll **/
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes aboutanimation {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/*------ For medium devices------*/
@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/*------ For small devices------*/
@media screen and (max-width: 600px) {
  #portfolio {
    height: auto;
  }
  .portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
